# This is Git's per-user configuration file.
[include]
    path = ~/.gitconfig-user

[core]
    pager = delta
    autocrlf = true
    longpaths = true

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true    # use n and N to move between diff sections
    light = false
    line-numbers = true

[merge]
    conflictstyle = diff3

[diff]
    colorMoved = default

[init]
    templatedir = ~/.git-templates

[alias]
    ls = log --pretty='format:%C(bold yellow)%h %C(reset)- %C(bold green)%ar %C(reset)by %C(bold cyan)%an%C(bold yellow)%d%C(reset) %C(white)%s'
    graph = log --graph --all --pretty='format:%C(bold yellow)%h %C(reset)- %C(bold green)%ar %C(reset)by %C(bold cyan)%an%C(bold yellow)%d%C(reset)%n%C(white)%s'
    fix = commit --amend --no-edit
    yeet = reset HEAD --hard
    pop = reset HEAD~1